<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.mnu.mapper.BoardMapper">
	<!-- list -->
	<select id="list" resultType="org.mnu.domain.BoardVO">
		select no, title, writer, writeDate,  hit
		from (
			select rownum rnum, no, title, writer, writeDate, hit
			from (
				select no, title, writer, writeDate, hit
				from tbl_board
				<include refid="search" />
				order by no asc
				)
			)
			where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 전체 데이터 개수 -->
	<select id="getTotalRow" resultType="long">
		select count(*) from tbl_board
		<include refid="search" />
	</select>
	
	<!-- 검색 조건 처리 -->
	<sql id="search">
		<if test="word != null and word != ''.toString">
			where
			<if test="key == 'tcw'.toString()">
				title like '%' || #{word} || '%'
				or content like '%' || #{word} || '%'
				or writer like '%' || #{word} || '%'
			</if>
			<if test="key == 't'.toString()">
				title like '%' || #{word} || '%'
			</if>
			<if test="key == 'c'.toString()">
				content like '%' || #{word} || '%'
			</if>
			<if test="key == 'w'.toString()">
				writer like '%' || #{word} || '%'
			</if>
			<if test="key == 'tc'.toString()">
				title like '%' || #{word} || '%'
				or content like '%' || #{word} || '%'
			</if>
			<if test="key == 'tw'.toString()">
				title like '%' || #{word} || '%'
				or writer like '%' || #{word} || '%'
			</if>
			<if test="key == 'cw'.toString()">
				content like '%' || #{word} || '%'
				or writer like '%' || #{word} || '%'
			</if>
		</if>
	</sql>
	
	
	
	<!-- 게시글 보기 -->
	<select id="view" resultType="org.mnu.domain.BoardVO">
		select no, title, content ,writer, writeDate,  hit
		from tbl_board
		where no = #{no}
	</select>
	
	<!-- 조회수 1증가 -->
	<update id="increase">
		update tbl_board
		set hit = hit + 1
		where no = #{no}
	</update>
	
	<!-- 글 작성 -->
	<insert id="write">
		insert into tbl_board(no, title, writer, content, hit)
		values(seq.nextval, #{title}, #{writer}, #{content}, 0)
	</insert>
	
	<!-- 글 수정 -->
	<update id="update">
		update tbl_board
		set title = #{title}, content = #{content}, writer = #{writer}
		where no = #{no}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="delete">	
		delete from tbl_board
		where no = #{no}
	
	</delete>
</mapper>